@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

body{
  background-color: rgb(243,243,243);
}

a{
  text-decoration: none;
}

a:hover{
opacity: 0.8;
}


#header{
  background-color: aquamarine;
  height: 65px;
}

#header .header-inner{
display: flex;
justify-content: space-between;
}

#header .header-link ul{
  margin-bottom: 10px;
  display: flex;
}

#header .header-link li{
  font-size: 15px;
  padding: 0 10px;
}

#header .header-inner p{
  font-size: 20px;
  text-align: left;
margin-top: 12px;
}



/* 画像とタイトルのエリア */
.top-wrapper{
height: 500px;
  background-image: url(../images/main.png);
  background-size: cover;
background-position: center bottom;
background-color: rgba(255,255,255,0.5);
background-blend-mode:lighten;
  padding: 180px 0 0 700px;
  padding-top: 50px;
  padding-left: 50px;
}


.container{
font-size: 40px;
text-align: center;
}

.container h1{
  font-family: 'Damion';
}

.container h2{
  font-family: 'Damion';
}

/* ナブゲーションエリア */
.menu ul{
  display: flex;
  margin: 0;
  padding-top: 30px;
list-style: none;
justify-content: space-around;
background-color: aqua;
}

.menu li{
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 40px;
}
/* ここまでナビエリア */

section{
display: flex;
}


.pic{
  margin-right: 75px;
}

.desc{
  flex: 1;
}

.desc h1{
  font-size:  45px;
  margin-top: 0;
  margin-bottom: 0px;
}

.contents{
  width: 1000px;
  margin: 150px auto;
}


.contents2{
  width: 1000px;
  margin-top: 150px;
  margin-bottom: 65px;
  margin-right: auto;
  margin-left: auto;
}

.contents3{
  width: 1000px;
  margin-top: 150px;
  margin-bottom: 65px;
  margin-right: auto;
  margin-left: auto;
}


.read-sen{
  height: 90px;
  margin-bottom: 30px;
}

.contents4{
  width: 1000px;
  margin-top: 150px;
  margin-bottom: 65px;
  margin-right: auto;
  margin-left: auto;
}


.desc1{
  flex: 1;
  }
  
  .desc1 h1{
    font-size:  45px;
    margin-top: 0;
    margin-bottom: 0;
  }

.desc1 p{
  margin-bottom: 50px;
}




.read-sen p{
  font-size: 35px;
  text-align: center;
}



/* グリッドボックスエリア */
.grid{
  display: grid;
grid-template-columns: 400px 400px;
grid-template-rows: 400px 400px;
gap: 40px 80px;
justify-content: center;
}





.box1{
  background-color: hsl(0, 60%, 60%);
  text-align: center;
  font-size: 18px;
}

.box1sen{
background-color: white;
}

table{
  margin: 0 auto;
}


.box2{
  background-color: hsl(60, 60%, 60%);
  text-align: center;
  font-size: 18px;
}
.box3{
  background-color: hsl(120, 60%, 60%);
  text-align: center;
  font-size: 18px;
}
.box4{
  background-color: hsl(180, 60%, 60%);
  text-align: center;
  font-size: 18px;
}

/* グリッドボックスエリア修了 */





/* フッター部分 */

#footer{
 background-color: aquamarine;
}

.inner{  
  margin: 0 auto;
 padding: 30px;
}


#footer .footer-link ul{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

#footer .footer-link li{
  font-size: 15px;
  padding: 0 20px;
}

.copyright{
  font-size: 15px;
  text-align: center;
}

.copyright p{
    margin-top: 0;
    margin-bottom: 1px;
}

.button {
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 12px;
  padding: 15px 28px;
  text-decoration: none;
}
.button:hover {
  background: #0090aa;
}

.twitter{
  width: 300px;
  margin-top: 100px;
}

.twitter p{
  font-size: 20px;
  margin-bottom: 5px;
}


#backtotop {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 9000;
	width: 70px;
	height: 70px;
  }
  
  #backtotop a {
	color: #fff;
	width: 80px;
	height: 80px;
	text-decoration: none;
	display: block;
	line-height: 75px;
	font-size: 15px;
	background-color: #333333;
	border: 1px solid #FFF;
	border-radius: 50%;
  text-align: center;
  } 


  /* contact.htmlの部分 */

.wrapper{
width: 800px;
height: 800px;
background-color: aquamarine;
margin: 100px auto;
padding: 50px 50px 100px 100px;
}

.wrapper p{
  font-size: 35px;
  margin-top: 150px;
}


/* フォーム */
form div {
  margin-bottom: 14px;
}
label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}
input[type="text"],
input[type="email"],
textarea {
  background-color: rgb(243,243,243);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 240px;
}
textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
}
