@import url(sanitize.css);

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body{
  margin: 0;
  background-color: rgb(243,243,243);

}

header{
  height: 45px;
  background-color: aquamarine;
}




/* 画像とタイトルのエリア */
.top-wrapper{
  margin: 0 auto;
  height: 500px;
  background-image: url(../images/main.png);
  background-size: cover;
background-position: center bottom;
background-color: rgba(255,255,255,0.5);
background-blend-mode:lighten;
  padding: 180px 0 0 700px;
  position: relative;

}

.container{
  font-size: 25px;
position: absolute; 
top: 85px;
right: 740px;
font-family: 'Yusei Magic', sans-serif;
}

/* ナブゲーションエリア */
ul{
  display: flex;
  margin: 0;
  padding-top: 30px;
list-style: none;
justify-content: space-around;
background-color: aqua
}

li{
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 40px;
}
/* ここまでナビエリア */



.contents{
  width: 1000px;
  margin: 150px auto;
}

section{
  display: flex;
}


.pic{
  margin-right: 75px;
}

.desc{
  flex: 1;
}

.desc h1{
  font-size:  45px;
  margin-top: 0;
  margin-bottom: 0px;
}

.contents2{
  width: 1000px;
  margin: 150px auto;
}





/* グリッドボックスエリア */
.grid{
  display: grid;
grid-template-columns: 400px 400px;
grid-template-rows: 400px 400px 400px;
gap: 40px 80px;
justify-content: center;
}





.box1{
  background-color: hsl(0, 60%, 60%);
  text-align: center;
  font-size: 18px;
}

.box1sen{
background-color: white
}

table{
  margin: 0 auto;
}

.classp{
  background-color: yellow;
  font-size: 14px;
}




.box2{
  background-color: hsl(0, 60%, 60%);
  text-align: center;
  font-size: 18px;
}
.box3{
  background-color: hsl(120, 60%, 60%);
}
.box4{
  background-color: hsl(180, 60%, 60%);
}
.box5{
  background-color: hsl(240, 60%, 60%);
}
/* グリッドボックスエリア修了 */





/* フッター部分 */

footer{

  height: 150px;
  background-color: blueviolet;
}

@media only screen and (max-width: 600px){

header{
  padding: 5px;
  font-size: 12px;
}

.container{
  margin: 0 auto;
  font-size: 14px;
}

}